.invalid-field {
    border: 1px solid #ff0000;
}

mat-error {
    color: #ff0000;
    font-size: 10px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 60px;
    row-gap: 20px;
}

.row-1 {
    grid-row-start: 1;
    grid-row-end: 2;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    grid-row-start: 2;
    grid-row-end: 3;
}

.row-3 {
    grid-row-start: 3;
}

.row-1, .row-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

input {
    width: 100%;
}

.dialog-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    background-color: #ff5722;
    color: #ffffff;
    padding: 10px;
}

.dialog-title {
    display: flex;
    grid-row-start: 2;
    justify-content: center;
}

.dialog-close {
    grid-row-start: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.dialog-container {
    padding: 10px;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

mat-dialog-actions > button {
    width: 83px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

button[type="submit"], .dialog-close > button {
    background-color: #ff5722;
    color: #ffffff !important;
}

button { 
    color: #ff5722 !important;
    border: 1px solid #ff5722 !important;
}
